
<h5 class="text-uppercase"> appointment is done</h5>

<table class="table table-striped jumbotron jumbotron-fluid">
  <thead>
    <tr>
      <th scope="col" class="text-center">s no.</th>
      <th scope="col" class="text-center">dr. Name </th>
      <th scope="col" class="text-center">Surname </th>
      <th scope="col" class="text-center">Specialization </th>
      <th scope="col" class="text-center">Experience</th>
      <th scope="col" class="text-center">Date & Time </th>
    </tr>
  <tbody>
  </thead>
    <tr>
      <th class="text-center"scope="row"><%=@doctor.id %></th>
      <td class="text-center"><%=@doctor.name %></td>
      <td class="text-center"><%=@doctor.surname %></td>
      <td class="text-center"><%=@doctor.specialization %></td>
      <td class="text-center"><%=@doctor.experience %></td>
      <td class="text-center"><%=@user.appointment_datetime %></td>

    </tr>
  </tbody>
</table>


























