<h3> appointment is done</h3>

<table>
    <tr>
        <th>dr. name </th>
        <th>surname </th>
        <th>specialization </th>
        <th>experience </th>
        <th>Date & Time</th>

    </tr>    
    
    <tr>
        <td><%=@doctor.name %></td>
        <td><%=@doctor.surname %></td>
        <td><%=@doctor.specialization %></td>
        <td><%=@doctor.experience %></td>
        <td><%=@user.appointment_datetime %></td>
    </tr>
  

</table>

