
<h3> availeble doctors</h3>

 <%=form_with url: search_path, method: :post do |form| %>
  <div>
        <%= form.label :search, "Search for:" %>
      <%= form.select :role, ["Specialization", "Experience"]%>
        <%= form.text_field :search %>
        <td><%=form.submit "search"%></td>
    </div>
        <%end%>
    
<table>
    <tr>
        <th>s no. </th>
        <th>Name </th>
        <th>Surname </th>
        <th>Specialization </th>
        <th>Experience </th>
        <th>Date & Time</th>
    </tr>    
     <% @doctors.each do |doctor| %>
    <tr>
        <td><%=doctor.id %></td>
        <td><%=doctor.name %></td>
        <td><%=doctor.surname %></td>
        <td><%=doctor.specialization %></td>
        <td><%=doctor.experience %></td>

        <%=form_with model: doctor, url: appointment_index_path, method: :post do |form| %>
        <td><%= form.datetime_local_field :appointment_datetime %></td>
        <td><%= form.hidden_field :doctor_id,value: doctor.id%></td>

        <td><%=form.submit "Appoint"%></td>
        <%end%>

    </tr>
    <% end %>

</table>

