<h1>welcome to patient page</h1>

<h3> availeble doctors</h3>

<table>
    <tr>
        <th>s no. </th>
        <th>name </th>
        <th>surname </th>
        <th>specialization </th>
        <th>experience </th>
    </tr>    
     <% @doctors.each do |doctor| %>
    <tr>
        <td><%=doctor.id %></td>
        <td><%=doctor.name %></td>
        <td><%=doctor.surname %></td>
        <td><%=doctor.specialization %></td>
        <td><%=doctor.experience %></td>


        <%=form_with model: doctor, url:patient_index_path, method: :post do |form| %>
        <td><%= form.hidden_field :doctor_id,value: doctor.id%></td>
        <td><%=form.submit "Appoint"%></td>
        <%end%>

        
   <td> <%= button_to('Appoint', patient_index_path,  method: "post", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %></td>

    </tr>
    <% end %>

</table>

