<h1>Please add details</h1>

<%= form_with model: @patient, url:  patient_index_path , method: :post do |f| %>
 <% if @patient.name==nil && @patient.surname==nil%>
 
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>

  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<%end %>
<% end %>