<h1>Please add details</h1>

<%= form_with model: @details, url: doctor_path(@details.id),method: :PATCH do |f| %>
 <%if current_user.experience==nil%>
  <div class="field">
      <%= f.label :experience %><br />
      <%= f.number_field :experience, in: 1.0..20.0, step: 1 %>
    </div>


    <div class="field">
      <%= f.label :specialization %><br />
      <%= f.select :specialization, ["Dermatologists", "Neurologists", "Ophthalmologists","Plastic Surgeons"]%>
    </div>
  <div class="actions">
    <%= f.submit "update" %>
  </div>
  <% else %>
    <% render "/devise/registrations/edit"%>
  <%end%>
 
<% end %>