<h4 class="text-center"><%= @doctor.name%> <%= @doctor.surname%></h4>

<h5 class="text-uppercase"> appointments</h5>
<table class="table table-striped jumbotron jumbotron-fluid">
  <thead>
    <tr>
      <th scope="col" class="text-center">s no.</th>
      <th scope="col" class="text-center">Name </th>
      <th scope="col" class="text-center">Surname </th>
      <th scope="col" class="text-center">Date & Time </th>
    </tr>
  <tbody>
  </thead>
    <% @appointments.each do |patient| %>
    <% @patient=Patient.find_by_user_id(patient.user_id)%>
    <% @user=User.find(patient.user_id)%>
        <%if @patient!=nil %>
    <tr>
      <th  class="text-center"scope="row"><%=@patient.id %></th>
      <td class="text-center"><%=@patient.name %></td>
      <td class="text-center"><%=@patient.surname%></td>
      <td class="text-center"><%=patient.appointment_datetime%></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
